@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #a855f7;
  --primary-color-dark: #9333ea;
  --secondary-color: #ca8a04;
  --text-dark: #344d70;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
  --text-highlight: #6bbbfd;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

b {
  color: var(--text-highlight); /* Set the text color */
  font-size: 1.1em; /* Set the font size */
}

body {
  font-family: "Poppins", sans-serif;
  transition: background-color 0.5s ease;
}

/* Dark theme styles */
body.dark {
  background-color: #333;
  color: #fff;
}

/* Light theme styles */
body.light {
  background-color: #fff;
  color: #333;
}

/* animated text css start */
/* animated text css start */

.animated{
  margin-top: 20%;
  font-size: 80px;
  background: linear-gradient(to right, blue , purple, pink);
  background-size: 200% auto;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient 3s linear infinite;
}

@keyframes gradient {
  0%{
    background-position: 0% 750%;
  } 
  50%{
    background-position: 100% 30%;
  } 
  100%{
    background-position: 0% 70%;
  }  
}

/* animated text css end */
/* animated text css end */
nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: #ffffff; */
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}


.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.ri-angularjs-fill{
    transform: scale(1.4); /* Adjust the scale factor as needed */
    display: inline-block;
}

.image-profile {
  display: grid;
  place-items: center;
}

.image-profile img {
  width: min(25rem, 90%);
  border-radius: 100%;
}

.image-about1, .image-about2, .image-about3 {
  display: grid;
  place-items: center;
}
.image-about1 img, .image-about2 img, .image-about3 img {
  width: min(25rem, 90%);
  border-radius: 5%;
}

.image-about1, .image-about2{
  filter: drop-shadow(20px 20px 30px #000000);
  transform: rotate(-10deg);
}

@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    /* background-color: var(--extra-light); */
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area: 1/1/2/2;
  }
}

/* Gallary css contents start */
/* Gallary css contents start */

/* .gallery{
  width: 150%;
  height: 500px;
  display: flex;
  gap: 5px;
}
.gallery img{
  width: 10%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid white;
  transition: all ease 0.5s;
  cursor: pointer;
}
.gallery img:hover{
  width: 100%;
} */

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.gallery img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid white;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.gallery img:hover {
  transform: scale(1.1);
}

/* Gallary css contents end */
/* Gallary css contents end */

/* about section css start  */
/* about section css start  */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var();
}
/* about section css end  */
/* about section css end  */